body{
  font:20px/1.1em arial, sans-serif;
  background:black;
  color: white;
}
section{
  width:100%;
  text-align: center;
  margin:0 0 20vh 0;
}
section img, section video{
  /*max-height:92vh;*/
  height: 92vh;
  width: auto;
  margin-top:2vh;
}
section.landscape img{
  width:100%;
  height:auto;
  margin-top:5vh;
}

section.two img{
  width:45%;
  height:auto;
  display: inline-block;
  margin-top:5vh;
}
